version: "2"

env_file: .env

services:
  portus:
    image: opensuse/portus:{{portusImageTag}}
    labels:
      io.rancher.scheduler.affinity:host_label: {{rancherHostLabel}}
    environment:
      - PORTUS_MACHINE_FQDN={{machineFQDN}}

      # DB. The password for the database should definitely not be here. You are
      # probably better off with Docker Swarm secrets.
      - PORTUS_PRODUCTION_HOST=db
      - PORTUS_PRODUCTION_DATABASE=portus_production
      - PORTUS_PRODUCTION_PASSWORD={{dbPass}}
      - PORTUS_DB_POOL=5
      - PORTUS_DELETE_ENABLED='true'


      # Secrets. It can possibly be handled better with Swarm's secrets.
      - PORTUS_SECRET_KEY_BASE={{secretKeyBase}}
      - PORTUS_KEY_PATH=/certificates/{{portusCertName}}.key
      - PORTUS_PASSWORD={{portusPass}}

      # SSL
      - PORTUS_PUMA_TLS_KEY=/certificates/{{portusCertName}}.key
      - PORTUS_PUMA_TLS_CERT=/certificates/{{portusCertName}}.crt

      # NGinx is serving the assets instead of Puma. If you want to change this,
      # uncomment this line.
      - RAILS_SERVE_STATIC_FILES='true'
    ports:
      - {{portusUiPort}}:{{portusUiPort}}
    links:
      - db
    depends_on:
      - db
    volumes:
      - {{dirBase}}/secrets:/certificates:ro
      - {{dirBase}}/portusConfig/config.yml:/srv/Portus/config/config.yml:ro
      #- static:/srv/Portus/public

  crono:
    image: opensuse/portus:{{portusImageTag}}
    labels:
      io.rancher.scheduler.affinity:host_label: {{rancherHostLabel}}
    environment:
      - PORTUS_MACHINE_FQDN={{machineFQDN}}

      # DB. The password for the database should definitely not be here. You are
      # probably better off with Docker Swarm secrets.
      - PORTUS_PRODUCTION_HOST=db
      - PORTUS_PRODUCTION_DATABASE=portus_production
      - PORTUS_PRODUCTION_PASSWORD={{dbPass}}
      - PORTUS_DB_POOL=5

      # Secrets. It can possibly be handled better with Swarm's secrets.
      - PORTUS_SECRET_KEY_BASE={{secretKeyBase}}
      - PORTUS_KEY_PATH=/certificates/{{portusCertName}}.key
      - PORTUS_PASSWORD={{portusPass}}

      # We want to execute crono, not portus
      - PORTUS_INIT_COMMAND=bin/crono
    links:
      - db
    volumes:
      - {{dirBase}}/secrets:/certificates:ro

  db:
    image: library/mariadb:{{mariaDbTag}}
    labels:
      io.rancher.scheduler.affinity:host_label: {{rancherHostLabel}}
    environment:
      - PORTUS_MACHINE_FQDN={{machineFQDN}}
      - MYSQL_DATABASE=portus_production

      # Again, the password shouldn't be handled like this.
      - MYSQL_ROOT_PASSWORD={{dbPass}}
    volumes:
      - {{portusDataDir}}/var/lib/portus/mariadb:/var/lib/mysql

  registry:
    image: library/registry:{{registryTag}}
    labels:
      io.rancher.scheduler.affinity:host_label: {{rancherHostLabel}}
    command: ["/bin/sh", "/etc/docker/registry/init"]
    environment:
      # Authentication
      REGISTRY_AUTH_TOKEN_REALM: https://{{machineFQDN}}:{{portusUiPort}}/v2/token
      REGISTRY_AUTH_TOKEN_SERVICE: {{machineFQDN}}:{{registryPort}}
      REGISTRY_AUTH_TOKEN_ISSUER: {{machineFQDN}}
      REGISTRY_AUTH_TOKEN_ROOTCERTBUNDLE: /secrets/{{portusCertName}}.crt

      # SSL
      REGISTRY_HTTP_TLS_CERTIFICATE: /secrets/{{portusCertName}}.crt
      REGISTRY_HTTP_TLS_KEY: /secrets/{{portusCertName}}.key
      REGISTRY_HTTP_SECRET: {{secretKeyBase}}
      
      # Portus endpoint
      REGISTRY_NOTIFICATIONS_ENDPOINTS: >
        - name: portus
          url: https://{{machineFQDN}}:{{portusUiPort}}/v2/webhooks/events
          timeout: 2000ms
          threshold: 5
          backoff: 1s
    volumes:
      - {{portusDataDir}}/var/lib/portus/registry:/var/lib/registry
      - {{dirBase}}/secrets:/secrets:ro
      - {{dirBase}}/registry/config.yml:/etc/docker/registry/config.yml
      - {{dirBase}}/registry/init:/etc/docker/registry/init
    ports:
      - {{registryPort}}:{{registryPort}}
      - 5001:5001 # required to access debug service
    links:
      - portus:portus