#---------------------------------------------------------------------
# Example configuration for a possible web application.  See the
# full configuration options online.
#
#   http://haproxy.1wt.eu/download/1.4/doc/configuration.txt
#
#---------------------------------------------------------------------

#---------------------------------------------------------------------
# Global settings
#---------------------------------------------------------------------
global
    # to have these messages end up in /var/log/haproxy.log you will
    # need to:
    #
    # 1) configure syslog to accept network log events.  This is done
    #    by adding the '-r' option to the SYSLOGD_OPTIONS in
    #    /etc/sysconfig/syslog
    #
    # 2) configure local2 events to go to the /var/log/haproxy.log
    #   file. A line like the following can be added to
    #   /etc/sysconfig/syslog
    #
    #    local2.*                       /var/log/haproxy.log
    #
    log         127.0.0.1 local2

    #chroot      /var/lib/haproxy
    #pidfile     /var/run/haproxy.pid
    maxconn     4000

    daemon

    # turn on stats unix socket
    #stats socket /var/lib/haproxy/stats

#---------------------------------------------------------------------
# common defaults that all the 'listen' and 'backend' sections will
# use if not designated in their block
#---------------------------------------------------------------------
defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option http-server-close
    option forwardfor       except 127.0.0.0/8
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000


#---------------------------------------------------------------------
# main frontend which proxys to the backends
#---------------------------------------------------------------------

#listen mysql-cluster
#    bind *:3306
#    mode tcp
#    balance roundrobin
#    server dxl1gmtdz001 172.20.116.221:3306 check




frontend http_front
   bind *:80
   stats uri /haproxy_stats
   default_backend repo

# NAT static host names and static paths in other hostnames to static.bullhornreach.com
   
   acl host_repo hdr_beg(host) -i repo.itoa.servicos
   use_backend repo if host_repo

   acl host_rancher_master1 hdr_beg(host) -i rancher-master1.itoa.servicos
   use_backend master1 if host_rancher_master1

   acl host_rancher_master2 hdr_beg(host) -i rancher-master2.itoa.servicos
   use_backend master2 if host_rancher_master2

   acl host_mirror hdr_beg(host) -i mirror.itoa.servicos
   use_backend repo if host_repo

   acl host_registry hdr_beg(host) -i registry.itoa.servicos
   use_backend repo if host_repo
   
   acl host_www_sidops hdr_beg(host) -i www.itoa
   use_backend app if host_www_sidops


################## BACKENDS ACLs #########################

backend repo
   balance roundrobin
   server pxl1elk00008 10.8.5.222:{{httpdPort}} check

backend master1
   balance roundrobin
   server pxl1elk00009 10.8.5.223:{{rancherServerPort}} check

backend master2
   balance roundrobin
   server pxl1elk00002 10.8.5.215:{{rancherServerPort}} check

backend mirror
   balance roundrobin
   server pxl1elk00008 10.8.5.222:{{mirrorPort}} check

backend registry
   balance roundrobin
   server pxl1elk00008 10.8.5.222:{{registryPort}} check



#---------------------------------------------------------------------
# static backend for serving up images, stylesheets and such
#---------------------------------------------------------------------
backend static
    balance     roundrobin
    server      static 127.0.0.1:4331 check

#---------------------------------------------------------------------
# round robin balancing between the various backends
#---------------------------------------------------------------------
backend app
    balance     roundrobin
    server pxl1ipa00091 10.8.4.213:24080 check
    server pxl1ipa00092 10.8.4.216:24080 check
    server pxl1ipa00093 10.8.4.217:24080 check
    server pxl1ipa00094 10.8.4.218:24080 check
    server pxl1ipa00095 10.8.4.225:24080 check
    server pxl1elk00002 10.8.5.215:24080 check
    server pxl1elk00003 10.8.5.216:24080 check
    server pxl1elk00004 10.8.5.218:24080 check
    server pxl1elk00005 10.8.5.219:24080 check
    server pxl1elk00006 10.8.5.220:24080 check
    server pxl1elk00007 10.8.5.221:24080 check
    server pxl1elk00008 10.8.5.222:24080 check
    server pxl1elk00009 10.8.5.223:24080 check
    server pxl1elk00010 10.8.5.225:24080 check
    server pxl1elk00011 10.8.5.228:24080 check
    server pxl1elk00012 10.8.5.231:24080 check
    server pxl1elk00013 10.8.5.232:24080 check
    server pxl1elk00014 10.8.5.233:24080 check
    server pxl1elk00015 10.8.5.236:24080 check