version: '2'
volumes:
  gogs-data:
    driver: rancher-nfs
  gogs-db:
    driver: rancher-nfs
services:
  gogs:
    image: gogs/gogs:{{gogsImageTag}}
    volumes:
    - gogs-data:/data
    links:
    - db:db
    environment:
      SOCAT_LINK: false 
    labels:
      traefik.enable: true
      traefik.port: 3000
      traefik.frontend.rule: Host:{{gogsUrl}}

  lb:
    image: rancher/lb-service-haproxy:{{rancherLbTab}}
    ports:
    - {{gogsSshPort}}:{{gogsSshPort}}/tcp
    labels:
      io.rancher.container.agent.role: environmentAdmin
      io.rancher.container.create_agent: 'true'
      io.rancher.scheduler.affinity:host_label: '{{affinityHostLabels}}'
      io.rancher.scheduler.global: 'true'

  db:
    image: mysql:{{mysqlImageTag}}
    environment:
      MYSQL_DATABASE: {{MYSQL_DATABASE}}
      MYSQL_PASSWORD: '{{MYSQL_PASSWORD}}'
      MYSQL_ROOT_PASSWORD: '{{MYSQL_ROOT_PASSWORD}}'
      MYSQL_USER: {{MYSQL_USER}}
    volumes:
    - gogs-db:/var/lib/mysql