http_access allow all
http_port {{squidPort}}

coredump_dir /var/spool/squid3
refresh_pattern ^ftp:       1440    20% 10080
refresh_pattern ^gopher:    1440    0%  1440
refresh_pattern -i (/cgi-bin/|\?) 0 0%  0
refresh_pattern (Release|Packages(.gz)*)$      0       20%     2880
refresh_pattern .       0   20% 4320

acl local-servers dstdomain .bb.com.br
always_direct allow local-servers

cache_peer {{stunnelBBUrl}} parent {{stunnelBBPort}} 0 no-query default login={{localUserFunci}}:{{localUserFunciPass}}
never_direct allow all