version: '2'

services:
  kibana-ssd:
    image: reg.itoa.servicos.bb.com.br:5000/itoa/kibana-oss:{{kibanaImageTag}}
    environment:
      SERVER_NAME: kibanaSsd
      SERVER_HOST: 0.0.0.0
      ELASTICSEARCH_URL: {{kibanaSsdEsHost}}

    labels:
      traefik.enable: true
      traefik.port: 5601
      traefik.frontend.rule: Host:{{kibanaSsdUrl}}

  kibana-logs:
    image: reg.itoa.servicos.bb.com.br:5000/itoa/kibana:{{kibanaLogsImageTag}}
    environment:
      SERVER_NAME: kibanaLogs
      SERVER_HOST: 0.0.0.0
      ELASTICSEARCH_URL: {{kibanaLogsEsHost}}

    labels:
      traefik.enable: true
      traefik.port: 5601
      traefik.frontend.rule: Host:{{kibanaLogsUrl}}