version: '2'
services:

  repositorio:
    external_ips:
    - '{{repoExtIP}}'
    start_on_create: true
    health_check:
      response_timeout: 2000
      healthy_threshold: 2
      port: '{{repoExtLbPort}}'
      unhealthy_threshold: 3
      initializing_timeout: 60000
      interval: 2000
      strategy: recreate
      reinitializing_timeout: 60000

  repo-lb:
    scale: 1
    start_on_create: true
    lb_config:
      certs: []
      port_rules:
      - path: ''
        priority: 1
        protocol: tcp
        service: repositorio
        source_port: '{{repoExtLbPort}}'
        target_port: '{{repoExtLbPort}}'
    health_check:
      response_timeout: 2000
      healthy_threshold: 2
      port: 42
      unhealthy_threshold: 3
      initializing_timeout: 60000
      interval: 2000
      reinitializing_timeout: 60000


  masterui:
    external_ips:
    - '{{master1ExtIP}}'
    start_on_create: true
    health_check:
      response_timeout: 5000
      healthy_threshold: 2
      port: 8080
      unhealthy_threshold: 3
      initializing_timeout: 60000
      interval: 10000
      strategy: recreate
      reinitializing_timeout: 60000

  masterlb:
    scale: 1
    start_on_create: true
    lb_config:
      certs: []
      port_rules:
      - hostname: ''
        path: ''
        priority: 1
        protocol: tcp
        service: masterui
        source_port: '{{masterlbPort}}'
        target_port: 8080
    health_check:
      healthy_threshold: 2
      response_timeout: 2000
      port: 42
      unhealthy_threshold: 3
      initializing_timeout: 60000
      interval: 2000
      reinitializing_timeout: 60000


  sidopsui:
    external_ips:
    - '{{sidopsExtIP}}'
    start_on_create: true
    health_check:
      response_timeout: 5000
      healthy_threshold: 2
      port: {{sidopslbPort}}
      unhealthy_threshold: 3
      initializing_timeout: 60000
      interval: 10000
      strategy: recreate
      reinitializing_timeout: 60000

  sidopslb:
    scale: 1
    start_on_create: true
    lb_config:
      certs: []
      port_rules:
      - hostname: ''
        path: ''
        priority: 1
        protocol: tcp
        service: sidopsui
        source_port: {{sidopslbPort}}
        target_port: {{sidopslbPort}}
    health_check:
      healthy_threshold: 2
      response_timeout: 2000
      port: {{sidopslbPort}}
      unhealthy_threshold: 3
      initializing_timeout: 60000
      interval: 2000
      reinitializing_timeout: 60000

  sidopsui:
    external_ips:
    - '{{sidopsExtIP}}'
    start_on_create: true
    health_check:
      response_timeout: 5000
      healthy_threshold: 2
      port: {{sidopslbPort}}
      unhealthy_threshold: 3
      initializing_timeout: 60000
      interval: 10000
      strategy: recreate
      reinitializing_timeout: 60000

  kibanalb:
    scale: 1
    start_on_create: true
    lb_config:
      certs: []
      port_rules:
      - hostname: ''
        path: ''
        priority: 1
        protocol: tcp
        service: kibanaui
        source_port: {{kibanalbPort}}
        target_port: {{kibanalbPort}}
    health_check:
      healthy_threshold: 2
      response_timeout: 2000
      port: {{kibanalbPort}}
      unhealthy_threshold: 3
      initializing_timeout: 60000
      interval: 2000
      reinitializing_timeout: 60000

  kibanaui:
    external_ips:
    - '{{kibanaExtIP}}'
    start_on_create: true
    health_check:
      response_timeout: 5000
      healthy_threshold: 2
      port: {{kibanalbPort}}
      unhealthy_threshold: 3
      initializing_timeout: 60000
      interval: 10000
      strategy: recreate
      reinitializing_timeout: 60000