version: '2'

volumes:
  drone-server-data:
    driver: rancher-nfs
  drone-db:
    driver: rancher-nfs

services:
  server:
    image: drone/drone:{{droneServerImageTag}}
    environment:
      DRONE_DATABASE_DATASOURCE: {{DRONE_DATABASE_DATASOURCE}}
      DRONE_DATABASE_DRIVER: mysql
      DRONE_DEBUG: 'false'
      DRONE_GOGS: 'true'
      DRONE_GOGS_URL: http://{{gogsUrl}}
      DRONE_HOST: http://{{droneServerUrl}}
      DRONE_OPEN: 'true'
      DRONE_SECRET: {{DRONE_SECRET}}
      GIN_MODE: release
      HTTPS_PROXY: http://{{proxyUrl}}:{{proxyPort}}
      HTTP_PROXY: http://{{proxyUrl}}:{{proxyPort}}
      NO_PROXY: {{droneNoProxy}}
      http_proxy: http://{{proxyUrl}}:{{proxyPort}}
      https_proxy: http://{{proxyUrl}}:{{proxyPort}}
      no_proxy: {{droneNoProxy}}
    labels:
      io.rancher.scheduler.affinity:container_label_soft_ne: io.rancher.stack_service.name=$${stack_name}/$${service_name}
      io.rancher.container.hostname_override: container_name
      traefik.enable: true
      traefik.port: 8000
      traefik.frontend.rule: Host:{{droneServerUrl}}
    links:
    - db:db
    volumes:
      - drone-server-data:/var/lib/drone/

  agent:
    image: drone/agent:{{droneAgentImageTag}}
    environment:
      DRONE_SECRET: {{DRONE_SECRET}}
      DRONE_SERVER: drone:9000
      HTTPS_PROXY: http://{{proxyUrl}}:{{proxyPort}}
      HTTP_PROXY: http://{{proxyUrl}}:{{proxyPort}}
      NO_PROXY: {{droneNoProxy}}
      http_proxy: http://{{proxyUrl}}:{{proxyPort}}
      https_proxy: http://{{proxyUrl}}:{{proxyPort}}
      no_proxy: {{droneNoProxy}}
    volumes:
    - /var/run/docker.sock:/var/run/docker.sock
    links:
    - server:drone
    command:
    - agent
    labels:
      io.rancher.scheduler.affinity:container_label_soft_ne: io.rancher.stack_service.name=$${stack_name}/$${service_name}
      io.rancher.container.hostname_override: container_name

  db:
    image: mysql:{{mysqlImageTag}}
    environment:
      MYSQL_DATABASE: {{MYSQL_DATABASE}}
      MYSQL_PASSWORD: '{{MYSQL_PASSWORD}}'
      MYSQL_ROOT_PASSWORD: '{{MYSQL_ROOT_PASSWORD}}'
      MYSQL_USER: {{MYSQL_USER}}
    volumes:
    - drone-db:/var/lib/mysql